/* fonts */
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot") format("eot"),
    url("../fonts/Roboto-Light.ttf") format("ttf"),
    url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot") format("eot"),
    url("../fonts/Roboto-Bold.ttf") format("ttf"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.eot") format("eot"),
    url("../fonts/Roboto-Black.ttf") format("ttf"),
    url("../fonts/Roboto-Black.woff") format("woff"),
    url("../fonts/Roboto-Black.woff2") format("woff2");
}

body {
  color: #2d2d42;
  background: #f4f4f7;
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}

/* button */
.b-button {
  position: relative;
  box-sizing: border-box;
  width: 580px;
  height: 80px;
  background-color: #64cae1;
  padding: 25px 0 25px 200px;
  text-align: start;
  border: none;
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #f4f4f7;
}

.b-button::before {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  width: 30px;
  height: 15px;
  transform: translateY(-50%);
  background: url(../images/button_icon.svg) no-repeat center/cover;
  transition: transform ease 0.3s;
}

.b-button:focus {
  outline: none;
}

.b-button:hover {
  cursor: pointer;
}

.b-button:hover::before {
  transform: translate(15px, -50%);
}

.b-button--header {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.b-button--hidden {
  display: none;
}

.b-title {
  font-family: "Roboto-Black";
  font-size: 60px;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-title--contrast {
  color: #f4f4f7;
}

.b-title--secondary {
  color: #c0c6c8;
}

.b-subtitle {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-size: 30px;
  line-height: 1.33;
  letter-spacing: 0;
}

.b-subtitle--header {
  color: #f4f4f7;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.b-text {
  font-family: "Roboto-Light";
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 300;
}

.b-text--contrast {
  color: #f4f4f7;
}

.b-note {
  font-family: "Roboto-Light";
  font-size: 15px;
  line-height: 1.67;
}

.b-note--contrast {
  color: #f4f4f7;
}

/* footer */

.b-footer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 100px;
  padding-left: 200px;
  background: black;
  z-index: 1;
  overflow: hidden;
}

.b-footer::before {
  content: "";
  position: absolute;
  width: 980px;
  height: 441px;
  top: 180px;
  z-index: -1;
  background: url(../images/image_page_1/footer/map.svg) no-repeat 49px 0 / contain;
}

.b-footer__discription {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 118px;
  width: 380px;
  margin-bottom: 90px;
}

.b-footer__social {
  display: inline-flex;
  vertical-align: top;
}

.b-footer__icon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  margin-top: 20px;
}

.b-footer__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.b-footer__icon--in {
  background: url(../images/image_page_1/footer/social-icons/linkedin-white.svg) no-repeat center/ 30px 30px;
}

.b-footer__icon--facebook {
  background: url(../images/image_page_1/footer/social-icons/facebook-white.svg) no-repeat center/ 30px 30px;
}

.b-footer__icon--inst {
  background: url(../images/image_page_1/footer/social-icons/instagram-white.svg) no-repeat center/ 30px 30px;
}

.b-title--footer {
  margin-top: 0;
  margin-bottom: 75px;
  width: 380px;
}

.b-text--footer {
  width: 380px;
  margin-right: 118px;
  margin-top: 0;
  margin-bottom: 0;
}

.b-note--footer {
  width: 380px;
  margin-bottom: 0;
}

.b-footer__adress {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  margin-right: -118px;
}

.b-footer__info {
  box-sizing: border-box;
  margin-right: 118px;
  width: 380px;
}

.b-footer__email {
  text-decoration: none;
  color: #64cae1;
}

.b-footer__tel {
  text-decoration: none;
  color: inherit;
}

.b-button--footer {
  margin-left: -200px;
  margin-right: 118px;
}

.b-footer__hidden-nav {
  display: none;
}

.b-footer__bottom {
  display: inline-block;
}

.b-footer__info--heading {
  font-weight: 600;
}

.b-footer--event::before {
  display: none;
}

.b-footer--event {
  background: #2d2d42;
}

.b-footer__input {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  font-family: "Roboto-Light", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #f4f4f7;
  font-weight: 300;
  margin-bottom: 54px;
  padding-bottom: 15px;
}

.b-footer__input:focus {
  outline: none;
  border-bottom: 1px solid #c0c6c8;
}

.b-footer__input--textarea {
  border: none;
  padding-top: 30px;
  min-height: 200px;
}

.b-footer__input--textarea:focus {
  border: none;
}

.b-footer__input::placeholder {
  color: #f4f4f7;
}

.b-footer__form {
  padding-right: 200px;
}

.b-note--form {
  color: rgba(149, 149, 158, 0.5);
}

.b-title--form {
  margin-top: 0;
  margin-bottom: 87px;
}

@media (max-width: 1439px) {
  .b-container {
    max-width: 980px;
  }

  .b-button {
    width: 480px;
    padding-left: 100px;
  }

  .b-footer {
    padding-left: 100px;
  }

  .b-footer::before {
    width: 100%;
  }

  .b-button--footer {
    margin-left: -100px;
  }

  .b-footer__form {
    padding-right: 100px;
  }
}

@media (max-width: 979px) {
  .b-container {
    max-width: 980px;
  }

  .b-button {
    width: 100%;
    height: 60px;
    padding: 20px 0 20px 30px;
    font-size: 15px;
    line-height: 20px;
  }

  .b-button::before {
    width: 20px;
    height: 10px;
    right: 30px;
  }

  .b-button--hidden {
    display: block;
}

  .b-title {
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -0.31px;
  }

  .b-subtitle {
    font-size: 15px;
    letter-spacing: normal;
  }

  .b-subtitle--header {
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: normal;
  }

  .b-text {
    font-size: 15px;
    line-height: 1.33;
  }

  .b-footer {
    padding: 30px 30px 0 30px;
  }

  .b-title--footer {
    margin-bottom: 20px;
  }

  .b-footer::before {
    width: 100%;
    top: 218px;
    left: 0;
    background: url(../images/image_page_1/footer/map.svg) no-repeat 62% 0 / cover;
  }

  .b-title--footer,
  .b-note--footer,
  .b-text--footer {
    width: 260px;
    margin-right: 0;
  }

  .b-footer__info--heading {
    font-size: 20px;
  }

  .b-footer__discription {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    width: 260px;
  }

  .b-footer__icon {
    margin-top: 0;
  }

  .b-footer__social {
    margin-bottom: 220px;
  }

  .b-footer__info {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .b-footer__adress {
    width: 260px;
    margin-bottom: 10px;
  }

  .b-button--footer {
    margin-right: 0;
    margin-left: -30px;
    width: calc(100% + 60px);
  }

  .b-footer__hidden-nav {
    display: block;
    margin: 0;
    margin-bottom: 18px;
  }

  .b-footer__navigation {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .b-footer__nav-item {
    font-family: "Roboto-Light", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.67;
    color: #f4f4f7;
  }

  .b-footer__nav-item a {
    text-decoration: none;
    color: inherit;
  }

  .b-footer__bottom {
    background: #2d2d42;
    margin: 0 -30px;
    padding: 20px 30px 30px 30px;
    width: 100%;
  }

  .b-note--description {
    font-size: 13px;
    line-height: 1.54;
  }

  .b-footer__form {
    padding-right: 0;
  }

  .b-footer__input {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 39px;
    padding-bottom: 10px;
  }

  .b-note--form {
    font-size: 13px;
    line-height: 20px;
    color: rgba(149, 149, 158, 0.4);
  }

  .b-title--form {
    margin-bottom: 52px;
  }

  .b-footer__input--textarea {
    min-height: 164px;
  }
}
