.b-event {
    width: 100%;
}

.b-event__content {
    position: relative;
    padding: 100px 200px;
}

.b-event__image {
    width: 100%;
}

.b-subtitle--event {
    margin-top: 0;
    margin-bottom: 50px;
}

.b-event__social {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 115px;
    left: 85px;
}

.b-event__social-item {
    margin-bottom: 20px;
}

@media (max-width: 1439px) {
    .b-event__content {
        padding: 100px;
   } 
   
   .b-event__social {
       position: relative;
       flex-direction: row;
       top: 0;
       left: 0;
   }

   .b-event__social-item {
       margin-bottom: 0;
       margin-right: 20px;
   }

   .b-text--event {
       margin-bottom: 80px;
   }
}

@media (max-width: 979px) {
    .b-event__content {
        padding: 30px;
    }

    .b-subtitle--event {
        margin-bottom: 30px;
    }

    .b-text--event {
        font-size: 13px;
        margin-bottom: 30px;
    }
}