body {
    margin: 0;
}

.b-section-service-list_type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 137px;
}

.b-section-service{
    background: #ffffff; 
    padding-right: 100px;
    padding-left: 200px;
} 

.b-section-service_top{
    margin-bottom: 75px;
}

.b-section-service-list_type>li{
    position: relative;
    list-style-type: none;
    font-family: "Roboto-Light";
    font-size: 20px;
    color: #2d2d42;
    font-weight: 300;
    line-height: 1.5;
    width: 380px;
    margin-bottom: 20px;
}

.b-section-service-list_type>li::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 30px;
    background: #64cae1;
    left: -60px;
    top: 15px;
}

.b-work {
    width: 100%;
    padding-top: 100px;
}

.b-title--work {
    padding-left: 200px;
    margin: 0;
    margin-bottom: 25px;
}

.b-subtitle--work {
    padding-left: 200px;
    margin: 0;
    margin-bottom: 90px;
}

.b-subtitle--work-block {
    margin: 0;
}

.b-work__block {
    position: relative;
    margin-bottom: 20px;
}

.b-work__block-image {
    width: 100%;
}

.b-work__box {
    position: absolute;
    box-sizing: border-box;
    width: 380px;
    height: 380px;
    padding: 40px;
    bottom: 20px;
}

.b-work__box--left {
    background: #64cae1;
    left: 200px;
    color: #f4f4f7;
}

.b-work__box--right {
    background: #f4f4f7;
    right: 200px;
}

.b-work__heading {
  font-family: 'Roboto-Black';
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.b-work__list {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.b-work__item {
    box-sizing: border-box;
    width: 580px;
    margin-right: 20px;
}

.b-work__item:nth-child(2n-1) {
    margin-right: 0;
} 

.b-work__item-image {
    width: 100%;
}

.b-work__item-text {
   padding: 40px 140px 70px 0;
}

.b-subtitle--work-item {
    margin: 0;
}

.b-work__item--hidden {
    display: hidden;
}

.b-work__item-image--small {
    display: none;
}

.b-work__item--shown {
    display: none;
}


@media (max-width: 1439px) {

    .b-section-service-list_type>li{ 
        width: 320px; 
    }

    .b-section-service{
        padding-left: 0px;
    } 

    .b-section-service_top{
        padding-left: 100px;
    }

    .b-section-service-list_type{
        padding-left: 150px;
    }

   .b-section-service-list_type>li::before{
        left: -50px; 
    }

    .b-work__box--left {
        left: 110px;
    }
    
    .b-work__box--right {
        right: 110px;
    }

    .b-title--work {
        padding-left: 100px;
    }
    
    .b-subtitle--work {
        padding-left: 100px;
    }

    .b-work__block {
        margin-bottom: 0;
    }

    .b-work__item {
        width: 50%;
        margin-right: 0;
    }

    .b-work__item-text {
        padding: 40px 50px 40px 40px;
    }
}

@media (max-width: 979px) {
    .b-section-service-list_type>li{ 
        width: 100%; 
    }

    .b-section-service-list_type{
        padding-left: 0px;
    }

    .b-section-service-list_type>li{
        line-height: 1.5;
        font-size: 20px;
    }

    .b-section-service_top{
        margin-bottom: 30px;
    }

    .b-section-service-list{
        padding-left: 70px;
    }

    .b-section-service_top{
        padding-left: 30px;
    }

    .b-section-service{
        padding-right: 0px;
        
    }

    .b-section-service-list_type>li::before{
        width: 20px;
        left: -40px;
    }

    .b-section-service-list_type{
          display: block;
    }
    .b-work {
        padding-top: 30px;
    }

    .b-title--work {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .b-subtitle--work {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }

    .b-work__block--hidden {
        display: none;
    }

    .b-work__item--shown {
        display: block;
    }

    .b-work__item--hidden {
        display: none;
    }

    .b-work__item-image--large {
        display: none;
    }

    .b-work__item-image--small {
        display: block;
    }

    .b-work__item {
        width: 100%;
    }

    .b-work__item-text {
        background: white;
        padding: 30px;
    }

    .b-work__heading {
        margin-bottom: 20px;
    }

    .b-work__box {
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px;
        bottom: 0;
        left: 0;
        background: white;
    }
}

.b-header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.b-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    z-index: 3;
}
.b-container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}
.b-header-container {
    background: url("../images/image_page_1/header/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 60px 0 40px;
    max-width: 1080px;
}
.b-header__menu a, .b-header__lang a {
    font-family: "Roboto-Light", sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    color: #f4f4f7;
}
.b-header__body-top, .b-header__menu, .b-header__menu-list, .b-header__lang {
    display: flex;
}
.b-header__body-top {
    justify-content: space-between;
}
.b-header__menu {
    justify-content: start;
    width: 54%;
}
.b-header__menu-list {
    justify-content: space-between;
    width: 90%;
    padding: 0;
}
.b-header__lang {
    justify-content: space-between;
    flex-basis: 11%;
}
.b-header__lang {
    padding: 0 60px 0 0;
}
.b-header__body-top {
    position: relative;
    z-index: 4;
    height: 120px;
    align-items: center;
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.header__burger.active span {
    transform: scale(0);
}
.b-header__logo {
    position: relative;
    z-index: 5;
}
.b-header__logo-icon--mobile-dark, .b-header__logo-icon--mobile-light,
.b-subtitle--header-mobile, .header__burger{
    display: none;
}
.b-header__menu-list li, .b-header__lang li {
    list-style: none;
}
.b-header__link--nowrap {
    white-space: nowrap;
}
.b-header__lang-link--active {
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    padding: 10px 11px 10px 12px;
}
.b-header__body-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}
.b-title {
    position: relative;
    font-family: "Roboto-Black", sans-serif;
    line-height: 1.08;
    letter-spacing: -0.75px;
}
.b-header-title {
    position: relative;
    font-size: 3.75em;
    padding: 0 15% 0 16%;
    color: #f4f4f7;
    margin: 4.539vw 0 0 0;
}
.b-header-title-mobile {
    display: none;
    position: relative;
    font-size: 1.6em;
    color: #f4f4f7;
    margin: 4.539vw 0 0 0;
    font-family: "Roboto-Black", sans-serif;
    line-height: 1.08;
    letter-spacing: -0.75px;
}
.b-subtitle--header-mobile {
    font-family: "Roboto-Light", sans-serif;
    color: #f4f4f7;
    font-size: 0.9em;
    line-height: 1.33;
}
.b-subtitle--header {
    padding: 0 15% 0 16%;
    margin: 2.196vw 0 5.710vw 0;
    font-family: "Roboto-Light", sans-serif;
    color: #f4f4f7;
    font-size: 1.250em;
    line-height: 1.33;
}
.b-button--header {
    cursor: pointer;
}
.b-button--header {
    position: relative;
    box-sizing: border-box;
    width: 25.9em;
    height: 3.572em;
    left: -40px;
    background-color: #64cae1;
    padding: 1em 0 1em 9em;
    text-align: start;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 2.196vw;
    color: #f4f4f7;
    display: flex;
    align-items: center;
}
.b-button--header::before {
    content: "";
    position: absolute;
    right: 4em;
    top: 50%;
    width: 2em;
    height: 2em;
    transform: translateY(-50%);
    background: url(../images/button_icon.svg) no-repeat center/cover;
    transition: transform ease 0.3s;
}
.b-button--header:focus {
    outline: none;
}
.b-button--header:hover {
    cursor: pointer;
}
.b-button--header:hover::before {
    transform: translate(1.098vw, -50%);
}
.b-button--header {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

}

@media (max-width: 940px) {
    .b-header__lang li {
        margin-right: 5px;
    }
    .b-header__lang {
        margin-left: 50px;
    }
    .b-header__menu-list li {
        margin-right: 10px;
    }
    .b-header-title, .b-subtitle--header {
        padding: 0 2% 0 12%;
    }
}

@media (max-width: 768px) {
    .b-header-title, .b-subtitle--header, .b-header__logo-icon--desktop, .b-button--header.active,
    .b-header-title-mobile.active, .b-subtitle--header-mobile.active, .b-header__logo-icon--mobile-dark,
    .b-header__logo-icon--mobile-light.active {
        display: none;
    }
    .b-subtitle--header-mobile, .b-header-title-mobile, .b-button--header,
    .b-header__logo-icon--mobile-light,
    .b-header__logo-icon--mobile-dark.active {
        display: block;
    }
    .b-header, .b-header-container {
        background: #2d2d42;
    }
    .b-header-container {
        height: 480px;
    }
    .b-header-container.active {
        background: white;
        transition: 1s;
    }
    .b-header__body-top {
        height: 90px;
        position: relative;
    }
    .header__burger {
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        z-index: 3;
        right: -3%;
    }
    .header__burger span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before, .header__burger:after {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active:before, .header__burger.active:after {
        background-color: black;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .b-header__menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 107%;
        left: -125%;
        transition: all 1s ease 0s;
    }
    .b-header__menu.active {
        left: -1%;
        transition: all 1s ease 0s;
    }
    .b-header__lang {
        padding: 0;
        position: absolute;
        top: -500%;
        transition: all 0.8s ease 0s;
    }
    .b-header__lang.active {
        position: absolute;
        width: 120px;
        top: 410%;
        left: -48px;
        transition: all 0.8s ease 0s;
    }
    .b-header__menu-list {
        display: block;
        position: absolute;
        left: 5px;
    }
    .b-header__menu-list li {
        margin-bottom: 20px;
    }
    .b-header__menu.active a, .b-header__lang.active a {
        color: black;
    }
    .b-header__menu.active a:hover {
        border-bottom: 1px solid #c7c7c7;
    }
    .b-header__logo.active {
        padding: 0;
    }
    .b-button--header {
        position: relative;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        height: 7em;
        padding: 0;
        text-align: start;
        border: none;
        font-family: "Roboto", sans-serif;
        font-size: 1.2em;
        font-weight: 100;
        line-height: 2.196vw;
        color: #f4f4f7;
        display: flex;
        align-items: center;
    }
    .b-button--header::before {
        content: "";
        position: absolute;
        right: 4em;
        top: 50%;
        left: 182px;
        width: 2em;
        height: 2em;
        transform: translateY(-50%);
        background: url(../images/button_icon.svg) no-repeat center/cover;
        transition: transform ease 0.3s;
    }
}

@media (max-width: 375px){
    .b-section-service-list_type>li{
        line-height: 1.33;
        font-size: 15px;
    }

}