body {
  margin: 0;
}

.b-team {
  background-color: #fff;
  padding: 89px 200px 100px 200px;
  border-bottom: 1px solid rgba(192, 198, 200, 0.2);
}

.b-title--team {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
}

.b-vacancy {
  background-color: #fff;
  padding: 89px 200px 100px 200px;
}

.b-title--vacancy {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 30px;
}

.b-subtitle--vacancy {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 90px;
}

.b-wrapper--vacancy {
  width: 780px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.b-vacancy__item {
  color: #f4f4f7;
  width: 320px;
  background-color: green;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}

.b-vacancy__item:hover {
  background-color: #2d2d42;
}

.b-vacancy__item--feedback:hover {
  background-color: #f4f4f7;
}

.b-vacancy__item:hover .b-vacancy__link {
  transform: scale(1.1);
}

.b-vacancy__title {
  font-family: "Roboto-Bold";
  font-size: 30px;
  line-height: 1.33;
  min-height: 80px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 40px;
}

.b-note--vacancy {
  min-height: 100px;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
}

.b-vacancy__link {
  font-family: "Roboto-Black";
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
  color: #f4f4f7;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform-origin: left bottom;
  transition: all 0.3s ease-in-out;
}

.b-vacancy__link span {
  display: block;
}

.b-vacancy__icon {
  width: 53px;
  height: 10px;
}

.b-vacancy__item--feedback {
  background-color: #f4f4f7;
  color: #2d2d42;
}

.b-vacancy__item--manager {
  background-color: #64cae1;
}

.b-vacancy__item--accountant {
  background-color: #d04b9b;
}

.b-vacancy__item--pr {
  background-color: #f47e3d;
}

@media screen and (max-width: 1439px) {
  .b-team {
    padding-left: 100px;
    padding-right: 100px;
  }

  .b-vacancy {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 979px) {
  .b-wrapper--vacancy {
    width: 100%;
  }

  .b-team {
    padding: 30px 30px;
  }

  .b-vacancy {
    padding: 30px;
  }

  .b-vacancy__item {
    min-height: 220px;
    padding: 20px;
  }

  .b-title--team,
  .b-title--vacancy {
    margin-bottom: 20px;
  }

  .b-vacancy__title {
    font-size: 20px;
    line-height: 1.5;
    min-height: 0;
    margin-bottom: 20px;
  }

  .b-wrapper--item {
    min-height: 140px;
  }

  .b-subtitle--vacancy {
    margin-bottom: 30px;
  }

  .b-note--vacancy {
    font-size: 13px;
    line-height: 1.54;
    min-height: 100px;
    margin-bottom: 30px;
  }

  .b-vacancy__link {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.33px;
  }

  .b-vacancy__icon {
    width: 37px;
    height: 7px;
  }
}
